body{
    color: white;
    background-color: #6527BE;
}
a{
    color: #fcfcfc;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #00ffff ;
    position: relative;
    
  }
  .footer{
    color: #6527BE;
    margin-left: 25px;
  }
  