body{
    color: #fcfcfc;
    background-color: #3200e9;
}
a{
    color: #fcfcfc;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #2fcf9c;
    position: relative;
    
  }
  .footer{
    color: #3200e9;
    margin-left: 25px;
    align-items: stretch;
    position: relative;
  }
